* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  background-color: #f3f3f3;
}

textarea,
input,
button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

textarea {
  resize: none;
}

textarea,
input {
  border-radius: 2px;
  border: 1px solid #000;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 16px;
  margin: auto;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cipher,
.result {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.data__item > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data__item .copy {
  cursor: pointer;
  font-size: 14px;
}

.data__item .copy:active {
  transform: scale(1.1);
}

.data__item label {
  display: inline-block;
  margin-bottom: 4px;
}

.data__item .speed-wrapper {
  display: flex;
  align-items: center;
}

.data__item .speed-wrapper input {
  padding: 0;
  margin: 8px;
}

.data__item.actions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.data__item textarea,
.data__item input {
  width: 100%;
  padding: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.actions__item {
  display: flex;
}

.actions__item:first-child button:last-child {
  border-left: none;
}

.actions__item:first-child button.active {
  box-shadow: inset 0 2px 4px rgb(0 0 0 / 60%), 0 1px 2px rgb(0 0 0 / 50%);
  font-weight: bold;
}

/* .actions__item div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions__item div input {
  margin-bottom: 4px;
} */

.actions__item button {
  border: 1px solid #000;
  background-color: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
}

/* .data__item.actions button:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%), 0 1px 2px rgb(0 0 0 / 50%);
} */

.data__item.actions button:disabled:hover {
  box-shadow: none;
}

#plain-txt,
#result-key,
#result-txt {
  word-break: break-all;
  padding: 8px;
  border: 1px solid #000;
  letter-spacing: 1px;
  background-color: #fff;
}

mark {
  font-size: 18px;
}

#plain-txt mark,
#result-key mark {
  background-color: yellow;
}

#result-txt mark {
  background-color: yellowgreen;
}

.table-wrapper {
  font-size: 16px;
  padding: 20px;
  width: 100%;
  position: relative;
}

.table-inner {
  overflow: auto;
  max-width: 768px;
  width: 100%;
  position: relative;
  padding: 4px;
  /* border: 1px solid; */
}

table {
  /* position: relative; */
  width: 100%;
  /* width: 768px; */
}

.txt-1,
.txt-2 {
  font-size: 16px;
  background-color: transparent;
}

.txt-1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 16px;
  top: -5px;
}

.txt-1::after,
.txt-1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #000;
  top: 50%;
  transform: translate(0, -50%);
}

.txt-1::before {
  left: 100%;
}

.txt-1::after {
  right: 100%;
}

.txt-2 {
  position: absolute;
  top: 50%;
  padding: 2px 16px;
  left: -25px;
  z-index: 1;
  transform: translateY(-50%) rotate(-90deg);
}

.txt-2::before,
.txt-2::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: #000;
}

.txt-2::before {
  left: 195%;
  top: -170%;
  transform: rotate(90deg) translate(-195%, 170%);
}

.txt-2::after {
  left: 5%;
  top: -176%;
  transform: rotate(90deg) translate(5%, -108%);
}

tr:last-child td {
  border-bottom: 1px solid;
}

tr td:last-child {
  border-right: 1px solid;
}

tr:first-child td,
tr td:first-child {
  background-color: aquamarine;
  font-weight: 600;
}

td {
  padding: 4px 8px;
  text-align: center;
  border-left: 1px solid;
  border-top: 1px solid;
}

td.row-highlight,
td.col-highlight {
  background-color: rgb(245, 241, 138);
}

td.highlight {
  background-color: rgb(248, 155, 42);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .table-wrapper {
    padding: 14px;
  }

  .txt-1::after,
  .txt-1::before {
    width: 50px;
  }
}